.produtForm {
}

.imageLabel {
    border: 2px dashed #dfdfdf;
    height: 200px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}

.dragMode {
    border: 2px dashed #0E6DFD;
}

.imageLabel > img {
    height: 100%;
}