.shoppingCartWrapper {
    width: 1000px;
    display: grid;
    grid-template-columns: 550px 1fr;
    grid-auto-rows: 100%;
}

.shoppingCart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shoppingCartInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
}