.carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: fit-content;
}

.arrowBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: opacity 0.5s;
}

.arrow {
    width: 25px;
}

.disabled {
    opacity: 30%;
    cursor: default;
}

.opposite {
    transform: rotate(180deg);
}

.itemsWrapper {
    overflow: hidden;
}

.items {
    transition: transform 0.3s;
    white-space: nowrap;
}

.imageWrapper {
    overflow: hidden;
    border-radius: 7px;
    height: 150px;
    display: inline-block;
}

.imageWrapper > img {
    height: 100%;
}